@import url('https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playwrite+ID:wght@100..400&display=swap');

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
  /* background-image: url("./bg.jpg"); 
  background-size: cover; */ 
  /* background-color: rgb(89, 168, 164) */
  
  background-color: rgb(0, 87, 61);
 
  }


 /* Navbar Styling */
 .navbar {
  margin: 10px auto;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgba(113, 255, 220, 0.6);
  max-width: 1300px;
  box-shadow: 0 5px 10px rgb(76, 244, 205);
  font-family: "Playwrite ID", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



/* Hero Section */
.hero-section {
  color: #1cbf91;
  min-height: 81vh;
}

.hero-section img {
  margin-top: -100px;
  max-width: 100%; 
  height: auto;
  object-fit: cover; 
} 

#mt1{
  margin-top: 3vh;
}

.img-sm{
  width: 20%;
}

/* .btcf-home{
  width: 90%;
  } */
  
  #bg{
    background-color: rgba(113, 255, 220, 0.6);
  }
  #basebg{
    background-color: rgb(0, 87, 61);
 }

  /* MOBILE SCREEN */
  @media screen and (max-width: 768px){
    /* .btcf-home{
      width: 100%;
     } */
      .hero-section {
      margin-top: 5vh;
      min-height: 87vh;
    }
     #mt{
       margin-top: 7px;
       margin-bottom: 7px;
      }
      #mt1{
        margin-top:0;
      }
      .img-sm{
        width: 50%;
      }
    }
    
    /* 576-992 */
    
    /* MID SCREEN */
    @media screen and (max-width: 992px){
      /* .btcf-home{
        width: 70%;
        } */
        /* .hero-section {
          margin-top: 0vh;
          min-height: 60vh;
          } */
          #mt{
            margin-top: 7px;
            margin-bottom: 7px;
          }
          #home{
            margin-top: 10px ;  
            
          }
          .hero-section img {
            margin-top: -20px;
            max-width: 100%; 
            height: auto;
            object-fit: cover; 
    } 
  }
    

  .background-video-container {
    /* position: relative; */
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -11;
  }
  
  
  
  
  /* Card Styling */
  .card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .link{
    text-decoration: none;
    /* color: rgb(203, 203, 203); */
    transition: all .4s;
  }



  
#connectwallet{
  background-color: #f8671f;
  color: #ffff;
}


/* Footer */
.footer {
    background-color: rgb(0, 87, 61);
        padding: 20px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    left: 0;
    width: 100%;  
    position: relative;
    color: #fff;
  }


  #about{
    background-color: rgb(0, 87, 61);
    /* color: white */
  }
  
  #features {
    background-color:rgb(1, 48, 34);
    box-shadow: 0px 20px 30px rgba(1, 48, 34, 1);

  }
  .feature-card h3{
    font-weight: bold;
  }
  .feature-card {
    height: 150px;
    border-radius: 15px; /* Yuvarlatılmış köşeler */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* background-color:rgb(0, 87, 61); */
    color: rgb(0, 87, 61);
    background-color: white;
   
  }
  
  
  .feature-card:hover {
    color: white;
    background-color: rgb(0, 87, 61);
    transform: translateY(-5px); /* Hover'da yukarı kaldır */
    box-shadow: 0 5px 20px 7px rgba(0, 255, 179,.7); /* Daha belirgin gölge */
  }

  
  .video-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    width: 500px;
    color: rgb(0, 255, 179);
  }
  
  /* Progress Bar */
.progress-bar {
  background-color: #1cbf91 !important; /* Genel tonlara uyumlu */
  transition: width 0.4s ease-in-out;
}

/* Buttons */
.orange {
  background-color: rgb(254, 177, 3);
  border: none;
  color: #fff;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.3s;
}

.orange:hover {
  background-color: #ffa200; /* Hover için daha koyu bir ton */
  transform: scale(1.05);
  transition: all .3s;
}

/* .btn-rounded {
  background-color: #1cbf91;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-rounded:hover {
  background-color: #17a97c;
  color: #fff;
  transform: scale(1.1);
} */

/* Input Field */
.form-control {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}


  
  /* .animated-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: upDown 5s ease-in-out infinite; /* Animasyon ayarları 
  } */
  
  /* @ keyframes upDown { 
     0% { */
      /* top: 0;  
     }
    50% {
      top: 30px; 
    }
    100% {
      top: 0; 
    }
  } */
   

